<%- include('partials/header', { title: "Landing" }) %>
<h1>Welcome <%=username %></h1>

<% if (users) { %>
    <h2>List of users:</h2>
    <% users.forEach((user) => { %>
        <ul>
            <li>
        <p>Username:<%= user.username %></p>
        <p>Email:<%= user.email %></p>
        <p>Role:<%= user.role %></p>

        </li>
        </ul>
        <% })%>
<% } %>

<form action = "/logout" method = "POST">
    <button type="submit">Logout</button>
<%- include('partials/footer') %>